<div class="container">
    <div class="view view--login">
        <h1>OpenEIS</h1>
        <form ng-submit="logIn()">
            <p>
                <input type="text" placeholder="Username" ng-required="true" ng-model="form.username" ng-change="clearError()">
            </p>
            <p>
                <input type="password" placeholder="Password" ng-required="true" ng-model="form.password" ng-change="clearError()">
            </p>
            <p>
                <button type="submit">Log in</button>
                <a href="sign-up">Create new account</a>
            </p>
            <p class="alert alert--error" ng-if="form.error" ng-switch="form.error">
                <span ng-switch-when="403">Authentication failed.</span>
                <span ng-switch-default>Unknown error occurred. ({{form.error}})</span>
            </p>
        </form>
    </div>
</div>
