<div class="container">
    <div class="view view--login">
        <h1>OpenEIS</h1>
        <form ng-submit="logIn()">
            <div class="form__group">
                <input type="text" placeholder="Username" required ng-model="form.username" ng-change="clearError()">
            </div>
            <div class="form__group">
                <input type="password" placeholder="Password" required ng-model="form.password" ng-change="clearError()">
            </div>
            <button type="submit">Log in</button>
            <div class="links">
                <a href="sign-up">Need an account?</a><br>
                <a href="recovery">Can't log in?</a>
            </div>
            <div class="alert alert--error" ng-if="form.error" ng-switch="form.error">
                <span ng-switch-when="403">Authentication failed.</span>
                <span ng-switch-default>Unknown error occurred. ({{form.error}})</span>
            </div>
        </form>
    </div>
</div>
