<ng-include src="'partials/topbar.html'"></ng-include>
<div class="row" style="margin-top: 1em">
    <div class="columns">
        <ul class="breadcrumbs">
            <li><a href="projects">Dashboard</a></li>
            <li>{{project.name}}</li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="columns">
        <h2>{{project.name}}</h2>
        <div ng-if="projectFiles.length">
            <h3>Project files</h3>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Size</th>
                        <th>Download</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in projectFiles">
                        <td>{{file.file}}</td>
                        <td>{{file.size | bytes}}</td>
                        <td><a href="{{file.download_url}}" target="_self">Download</a></td>
                        <td><a ng-click="deleteFile($index)">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>Add file</h3>
        <file-upload file-upload-click="upload(fileInput)"></file-upload>
    </div>
</div>
