<div class="contain-to-grid" ng-controller="TopBarCtrl">
    <nav class="top-bar">
        <ul class="title-area">
            <li class="name"><h1><a href="/projects">OpenEIS</a></h1></li>
            <!-- <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li> -->
        </ul>
        <section class="top-bar-section">
            <ul class="right">
                <li class="divider"></li>
                <li><a ng-click="logOut()">Log out</a></li>
                <li class="divider"></li>
            </ul>
        </section>
    </nav>
</div>
