<div class="topbar" ng-controller="TopBarCtrl">
    <nav class="container">
        <h1><a href="projects">OpenEIS</a></h1>
        <ul>
            <li class="divider"></li>
            <li><a href="projects">Projects</a></li>
            <li class="divider"></li>
            <li>
                <a href="account">Account: <strong>{{username}}</strong></a>
                <ul class="dropdown">
                    <li><a ng-click="logOut()">Log out</a></li>
                </ul>
            </li>
            <li class="divider"></li>
        </ul>
    </nav>
</nav>
