.*.sw?
*.py[co]
*.egg-info
*~
__pycache__/

.pydevproject
.project

/env/
/data/
/openeis/local/

/openeis-ui/.sass-cache/
/openeis-ui/bower_components/
/openeis-ui/node_modules/
/openeis-ui/build/js/
!/openeis-ui/build/js/app.min.js
