.*.sw?
*.py[co]
*.egg-info
*~
__pycache__/
.idea/
.DS_Store
.ini
.pydevproject
.project

/env/
/data/
/openeis/local/
/dist/*.changes
/dist/*.dsc
/dist/*.deb
/dist/*.tar.gz
/dist/openeis-support/arch/openeis/
/dist/openeis-support/arch/pkg/
/dist/openeis-support/arch/src/
/dist/openeis-support/arch/openeis-support-*.tar.xz
/.openeis/
artifacts/
openeis/build/
openeis/dist/
lib/
node_modules/
