/* -*- coding: utf-8 -*- vim: set fenc=utf-8 ft=css sw=3 ts=3 : */

#header {
   height: 10px;
   background: green;
}

#content {
   color: yellow;
}

#footer {
   height: 10px;
   background: red;
}
