{% load static %}
<!-- -*- coding: utf-8 -*- vim: set fenc=utf-8 ft=htmldjango sw=4 ts=8 et sts=4 : -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <title>{% block page_title %}OpenEIS{% endblock %}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="OpenEIS building energy analysis system." />

    {% block basic_styles %}
    <style type="text/css">
        @import "{% static "css/app.css" %}";
    </style>
    {% endblock basic_styles %}

    {% block extra_head %}{% endblock %}
</head>

<body>
    {% block page_header %}
    <div id="header">
    </div>
    {% endblock page_header %}

    {% block page_content %}
    <div id="content">
        {% block content %}
        <h1>Hello World!</h1>
        {% endblock content %}
    </div>
    {% endblock page_content %}

    {% block page_footer %}
    <div id="footer">
    </div>
    {% endblock page_footer %}
</body>
</html>

