{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}
    <script>window.location = "api/projects/";</script>
    {% else %}
    <div class="row" style="margin-top: 200px">
        <div class="small-8 columns">
            <h1 style="font-size: 7.5rem; line-height: 1.5">OpenEIS</h1>
        </div>
        <div class="small-4 columns">
            <form class="panel radius" method="post" action="{% url 'django.contrib.auth.views.login' %}">
                {% if form.errors %}
                <p class="alert-box warning radius">Authentication failed.</p>
                {% endif %}

                {# Use custom input fields to add placeholder text #}
                {# {{ form.username }} #}
                {# {{ form.password }} #}
                <input id="id_username" maxlength="254" name="username" type="text" placeholder="Username" />
                <input id="id_password" name="password" type="password" placeholder="Password" />
                {% csrf_token %}
                <input type="hidden" name="next" value="api/projects/" />
                <input type="submit" value="Log in" class="button radius small" />
            </form>
        </div>
    </div>
    {% endif %}
{% endblock content %}
